/* Réalisé par Sara */

.note-card {
  width: 250px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  margin: 5px;
  overflow: hidden;
}
.notes-group {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.notes-date-header {
  width: 100%;
  align-content: center;
  margin: 10px 9px;
  height: auto;
  font-size: medium;
  font-weight: 400;
}
.StyleTime {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 253, 127);
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}

.note-title {
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.note-content {
  font-size: 14px;
}
