.notes_content {
  width: 290px;
  height: 174px;
  border-radius: 0px 0px 15px 15px;
  margin: 10px;
  background-color: antiquewhite;
}
.notes_div .Epingle_Btn {
  float: left;
}
.Epingle_Btn img {
  width: 20px;
  height: 20px;
  position: relative;
  margin-top: 10px;
  top: 0px;
  left: 260px;
  cursor: pointer;
}
