/*Profile Form*/
.Profile_Div {
  width: 500px;
  height: 540px;
  background-color: white;
  border-radius: 15px;
}
.UpProfile {
  width: 500px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.UpProfile_Pic {
  width: 130px;
  height: 130px;
  border: solid 1px rgb(224, 224, 224);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}
.UpProfile_Pic img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  object-fit:cover;
  image-rendering: auto;
}
.File_Input {
  display: none;
}
.Profile_Form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Profile_Form input {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 19px;
}
.Profile_Form button {
  width: 300px;
  height: 42px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  background-color: #08ce02;
  border: none;
}
.Profile_Pic.icon img {
  max-width: 40px;
  max-height: 40px;
}
